@import "tailwindcss";

@theme {
  --color-primary: #14b8a6;
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-text: #f8fafc;
}

@layer base {
  body {
    @apply font-sans antialiased;
    background-color: var(--color-background);
    color: var(--color-text);
  }
}

.kot-print {
  display: none;
}
@media print {
  body * {
    visibility: hidden;
  }
  .kot-print, .kot-print * {
    visibility: visible;
  }
  .kot-print {
    position: absolute;
    left: 0;
    top: 0;
    width: 3in; /* Thermal printer width */
  }
}
